@import './sass-utils/Variable';
@import './sass-utils/mixins';
@import './sass-utils/reset';
@import './sass-utils/color';

*{
    font-family: $font-family !important;
    font-size: $base-size ;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.right-spacing-12{
    margin: 0 12px 0 0;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    .comment-area{
        max-width: 1000px;
        width: calc(100% - 25px);
        margin: 40px auto;
        .title{
            font-size: $large-text;
        }
        .initial-comment{
            margin: 16px 0 0 0;
            max-width:600px;
            width: 100%;
        }
    }

}
.commentbox-footer {
    margin: 16px 0 0 0;
    display: flex;
    justify-content: flex-end;
}

.margin-left-4{
    margin: 0 0 0 8px;
}

.divider {
    display: flex;
    padding: 0 7px;
    width: 16px;
    // margin: 0 16px 0 0;
    height: 100%;

    & .threadline {
        width: 2px;
        background-color: $threadline-color;
        height: 100%;
    }
}