@import './../../../sass/sass-utils/color';
@import './../../../sass/sass-utils/variable';
@import './../../../sass/sass-utils/mixins';

.delete-modal-body{
    background-color: white;
    padding: 34px 42px;
    border-radius: 2px;
    & p{
        color: $body-text-color;
    }
    & .delete-modal-body-footer{
        display: flex;
        justify-content: flex-end;
        margin: 20px 0 0 0;
    }
    @media screen and (max-width:470px) {
        & {
            padding: 25px 20px;
        }
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}