$border-color: #878A8C;
$secondary-text: #4A525B;
$primary-hover: #3C69BE;
$white: #FFFFFF;
$body-text: #1C1C1C;
$background-dark: #E3E7E8;
$background: #F5F5F5;
$primary: #4B83EE;

$primary-disabled: rgba(75, 131, 238, 0.6);

