$border-color: #878A8C;

$body-text-color:#4A525B;
$title-text-color:#1A1A1B;
$icon-color:$body-text-color;

$primary-hover: #3C69BE;
$white: #FFFFFF;
$body-text: #1C1C1C;
$background-dark: #E3E7E8;
$background: #F5F5F5;
$primary: #4B83EE;

$threadline-color:#EDEFF1;

$primary-disabled: rgba(75, 131, 238, 0.6);

$font-weight-medium:500;
