@import './../../sass/sass-utils/color';
@import './../../sass/sass-utils/variable';
@import './../../sass/sass-utils/mixins';

.commentBoxContainer{
    display: flex;
    flex-flow: column nowrap;
    max-width: 700px;
    width: 100%;
    & .commentbox-body{
        max-height: 200px;
        overflow-y: auto;
        padding: 8px;
        border: 1px solid $border-color;
    }
    & .commentbox-footer{
        margin: 16px 0 0 0;
       display: flex; 
       align-self: flex-end;
    }
}