@import './../../sass/sass-utils/color';
@import './../../sass/sass-utils/variable';
@import './../../sass/sass-utils/mixins';

.wrapper{
    display: flex;
    & .divider{
        display: flex;
        padding: 0 7px;
        width: 16px;
        margin: 0 16px 0 0;
         & .threadline{
            width: 2px;
            background-color: $threadline-color;
            height: 100%;
        }
    }
    .commentBoxContainer {
        display: flex;
        flex-flow: column nowrap;
        max-width: 700px;
        width: 100%;
    }
}

 .commentbox-footer {
     margin: 16px 0 0 0;
     display: flex;
     justify-content: flex-end;
 }