@import './../../sass/sass-utils/color';
@import './../../sass/sass-utils/variable';
@import './../../sass/sass-utils/mixins';

.like-button-container{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    & .like-button-count{
        padding: 4px 8px;
    }
}