@import './../../sass/sass-utils/color';
@import './../../sass/sass-utils/variable';
@import './../../sass/sass-utils/mixins';

 textarea {
     resize: none;
     font-size: 14px;
     line-height: 18px;
     width: 100%;
     overflow: hidden;
     display: flex;
     border-radius: 2px;
     border: none;
     white-space: pre-wrap;
     word-break: break-word;
     padding: 0;
     margin: 0 0 5px 0;
     color: $secondary-text;
     
     &::placeholder {
         @include lightenColor ($secondary-text, 40);
     }

     &:focus {
         outline: none;
     }
 }
